<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/JSPs/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>Servlet_4_Update_infos</servlet-name>
        <servlet-class>Servlet_4_Update_infos</servlet-class>
        <multipart-config>
            <location>C:/Users/DELL/Desktop/ProjetsWeb/App_2/src/main/webapp/user_images/</location> <!-- dossier temporaire (dossier final) -->
            <max-file-size>10485760</max-file-size> <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
        </multipart-config>
    </servlet>
</web-app>
